CONFIG_LOCALVERSION="OSF_OCP_MONOLAKE"
CONFIG_USE_BLOBS=y
CONFIG_VENDOR_OCP=y
CONFIG_FSP_FILE="site-local/monolake/fsp/BROADWELLDE_FSP.bin"
CONFIG_ENABLE_FSP_FAST_BOOT=y
CONFIG_FSP_PACKAGE_DEFAULT=y
CONFIG_MAINBOARD_SERIAL_NUMBER="Query BMC"
CONFIG_IFD_BIN_PATH="site-local/monolake/monolake_fd.bin"
CONFIG_ME_BIN_PATH="site-local/monolake/monolake_me.bin"
CONFIG_HAVE_IFD_BIN=y
CONFIG_PCIEXP_L1_SUB_STATE=y
CONFIG_CONSOLE_POST=y
CONFIG_LINUX_COMMAND_LINE="earlyprintk=ttyS0,57600n1 console=ttyS0,57600n1 loglevel=7"
CONFIG_PCIEXP_ASPM=y
CONFIG_PCIEXP_COMMON_CLOCK=y
CONFIG_PCIEXP_CLK_PM=y
CONFIG_HAVE_ME_BIN=y
CONFIG_HAVE_GBE_BIN=n
CONFIG_LOCK_MANAGEMENT_ENGINE=y
CONFIG_NO_GFX_INIT=y
CONFIG_DEBUG_TPM=n
CONFIG_CONSOLE_SERIAL_57600=y
CONFIG_PAYLOAD_LINUX=y
CONFIG_PAYLOAD_FILE="site-local/monolake/linux-uroot.bzImage"
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_5=y
CONFIG_VPD_SMBIOS_VERSION=y
